# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# NPM
node_modules

# vite
dist
dist-ssr
coverage

# env
*.local

# tests
test-results/
playwright-report/
/cypress/videos/
/cypress/screenshots/

# dependency cruiser
.dependency-graph*

# IDE and misc
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo
.DS_Sßtore